@import '../../../assets/scss/global.scss';

.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
  }

  th {
    background-color: $secondary-color;
    color: $font-color-dark;
    font-weight: 600;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: #fafafa;
    }

    &:hover {
      background-color: #f1f1f1;
    }
  }

  td {
    color: $font-color-dark;
  }

  .no-data {
    font-size: 18px;
    color: $font-color-light;
  }

  .status-pending {
    color: $primary-color;
  }

  .status-approved {
    color: $success-color;
  }

  .status-rejected {
    color: $danger-color;
  }
}
