.textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 20px 0;
  resize: vertical;
  height: 150px;
}

.textarea:focus {
  border-color: #007bff;
  outline: none;
}
