@import '../../../assets/scss/global.scss';

.tab {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 10px;

  .tab-item {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid #eff1f1;
    width: 100%;

    &:hover {
      color: $primary-color;
    }

    &.active {
      color: $primary-color;
      font-weight: 600;
      border-bottom: 2px solid $primary-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}